body {}

.container {
    width: 100%;
}

.header img {
    height: 5x;
    width: 20px;
    border: dotted;
}

.header ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.header ul li a {
    text-decoration: none;
}
